pandas
numpy
scikit-learn
scipy
tqdm
opencv-python
librosa
soundfile
beautifulsoup4
lxml
nltk
fastapi
uvicorn[standard]
python-multipart
streamlit
requests
psycopg2-binary
SQLAlchemy
pgvector
python-dotenv
matplotlib
